@import "compass_twitter_bootstrap";

#post-container {
	width: 750px;
}

.post {
	width: 240px;
	padding: 5px;
	background-color: rgb(243, 237, 237);
	border-radius: 15px;
}

#filters li {
	display: block;
	width: 20%;
	float:left;
	color: gray;
}
